<% provide(:title, "ホーム") %>
<div class= "container-fuild main-container mt-0">
  <div class = "row">
    <div class ="col-sm-3 mt-5">
      <h1 class="text-white bg-primary text-center rounded-pill">Foodo</h1>
    </div>
  </div>  
  <div class="row">
    <div class = "col-sm-3 text-center">
      <%= link_to  "新規登録", new_user_registration_path, class: 'btn btn-info rounded-lg col-lg-4 mt-2' %>
      <%= link_to  "ログイン", new_user_session_path, class: 'btn btn-success rounded-lg  col-lg-4 mt-2' %>
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-success rounded-lg  m-3" %>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class ="row">
    <h1 class="text-white  bg-info col-md-6 offset-md-3 mt-3 rounded-pill" id="about">Foodoとは</h1>
    <div class = "d-block mx-auto">
      <p class ="text-center">幼児食と一言で言っても実際は年齢によっても違いが出てきますし、<br class = "d-inline d-md-none"/>アレルギー食材は使用できない等、<br>毎日の幼児食を決めるのに疲れてしまっている<br class = "d-inline d-md-none"/>ママやパパはたくさんいます。</p>
    </div>
    <div class ="container-fuild">
      <div class=" row font-weight-bold">
        <div class="col-lg-4 my-4 bg-light">
          <%= image_tag "/月齢.jpeg", class: "rounded"  %>
          <h2>月齢別の献立</h2>
          <p> 月齢に合った献立を用意しています。</p>
        </div>
        <div class="col-lg-4 my-4 bg-light">
          <%= image_tag "/1週間.jpg"%>
          <h2>最大1週間分の作成可能</h2>
          <p>最大1週間分の献立作成可能</p>
        </div>
        <div class="col-lg-4 my-4 bg-light">
          <%= image_tag "/アレルギー.png" %>
          <h2>アレルギー食材除外</h2>
          <p>アレルギー食材や嫌いな食材などを入力するだけで<br class="d-inline d-sm-none"/>献立に入れないことも可能</p>
        </div>  
      </div>
    </div>  
  </div>
</div>
