<% provide(:title, @pack.name)%>
<div class = "container bg-light my-5">
  <h1 class = "border-bottom border-primary pt-4">献立</h1>
  <h2><%= @pack.name %></h2>
  <%= link_to  "献立名の編集", edit_pack_path(@pack) %>
  <div class="field form-group  mt-4">
    <div class="row">
      <% @menu.each do |menu| %>
        <div class = "col-md-4 text-center quantity prof_link my-3">
          <%= link_to menu_path(menu.id) do%>
            <%= image_tag "/#{menu.image}", class: "img-fluid rounded" %>
            <h5 class = text-dark><%= menu.name %></h5><br/>
          <% end %>
          <%= simple_format(menu.quantity) %>
        </div>
      <% end %>
    </div>
    <%= link_to 'javascript:history.back()' do %>
      <i class="mt-3 fas fa-arrow-circle-left fa-2x"></i>
    <% end %>
  </div>
</div>