@import "bootstrap-sprockets";
@import "bootstrap";

.main-content{
  background-image: url(backimg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 1300px;
  width: 100%;
  padding-top: 50px;
}

.text-white{
  font-size: auto;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.footer{
  height: 50px;

}

.circle-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}