<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更依頼を受け付けました。以下のリンクから変更が可能です。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールに身に覚えがない場合は本メールは無視してください！</p>
